!!! 5
%html
  %head
    %title Haters Manifesto
    :css
      body {
        font-size: 12pt;
        color: black;
        background-color: white;
        width: 50%;
        padding: 0;
        margin: 0 auto 0 auto;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      }
      h1, strong {
        color: #444;
      }
      h1 {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 4em;
        padding: 0;
        margin: 2em 0 1em 0;
      }
      li {
        padding: 0;
        margin-bottom: 1em;
      }
      * {
        line-height: 150%;
      }

  %body
    :markdown
      Haters Manifesto
      ================

      1. **Hatters gonna hate.**  
        The collective rage against crap software is unstoppable.
      2. **Dislike is not hatred.**  
        Keep looking.
      3. **No code is quality code.**  
        There's code that fails and code that has yet to fail.
        Tonight, probably. During sex.
      4. **Happiness comes from inaction, delusion, or both.**  
        If you're doing it right, you resent all of it.
