-# coding: UTF-8
!!! 5 UTF-8
%html
  %head
    %title Manifesto for Hate Driven Development
    %link{:rel => :stylesheet, :href => 'style.css', :type => 'text/css'}
  %body
    :markdown
      Manifesto for Hate Driven Development (WIP)
      ===========================================

      1. **Dislike is not hatred.**  
        Keep looking. You're getting there.
      1. **Haters gonna hate.**  
        The collective rage against crap software is unstoppable.
      1. **Happiness comes from inaction, delusion, or both.**  
        If you're doing it right, you resent all of it.
      1. **There is no dignity in staying positive or constructive.**  
        When the wagon goes downhill, jump off and start climbing.
      1. **No code is quality code.**  
        There's code that fails and code that has yet to fail.
        Tonight, probably. During sex.
      1. **Architectures, requirements, and designs become irrelevant**
        when pulling architects, customers and teams out the way,
         and getting shit done.

    .signatures
      :markdown
        - [Pierre Carrier](mailto:pierre@gcarrier.fr)
        - [Daniel Lundin](mailto:dln@eintr.org)
        - [Daniel Norberg](mailto:daniel.norberg@gmail.com)

      .join
        :markdown
          Want to sign? [Edit on github](https://github.com/hatedriven/manifesto/blob/gh-pages/index.haml).
