-# coding: UTF-8
!!! 5 UTF-8
%html
  %head
    %title Haters Manifesto
    %link{:rel => :stylesheet, :href => 'style.css', :type => 'text/css'}
  %body
    :markdown
      Hate Driven Manifesto
      =====================

      1. **Dislike is not hatred.**  
        Keep looking.
      2. **Hatters gonna hate.**  
        The collective rage against crap software is unstoppable.
      3. **No code is quality code.**  
        There's code that fails and code that has yet to fail.
        Tonight, probably. During sex.
      4. **Happiness comes from inaction, delusion, or both.**  
        If you're doing it right, you resent all of it.

    .signatures
      :markdown
        - [Pierre Carrier](pierre@gcarrier.fr)
        - [Daniel Lundin](dln@eintr.org)

      .join
        :markdown
          Want to sign? Create a pull request [on github](https://github.com/hatedriven/manifesto/blob/gh-pages/index.haml').
